<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12334493224-nsm6n3mpni46178kq77cskn824iua25e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12334493224-nsm6n3mpni46178kq77cskn824iua25e</string>
	<key>API_KEY</key>
	<string>AIzaSyBDxfQ5Fbbyxvb4kbfQtoHWvtjGdOGN6U4</string>
	<key>GCM_SENDER_ID</key>
	<string>12334493224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bisi.ios</string>
	<key>PROJECT_ID</key>
	<string>auth-development-5e558</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-development-5e558.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12334493224:ios:e8ebc69d6a18aa30160f1d</string>
</dict>
</plist>